@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  color: #333333;

}

.container {
  max-width: 1200px;
  margin: auto;
}

.visually-hidden {
  display: none;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.navigation-button {
  width: 160px;
  height: 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  border-radius: 4px;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
}

.index-promo {
  background-image: url(../images/index-background.jpg);
  width: 1200px;
  height: 485px;
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.description {
  text-align: center;
  background: #FFFFFF;
}

.description-container {
  max-width: 720px;
  line-height: 36px;
  margin-left: 240px;
}

.description-title {
  font-weight: 700;
  text-transform: uppercase;
}

.advantages {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item {
  width: 400px;
  height: 384px;
}

.advantages-item-city,
.advantages-item-bridge {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-housing,
.advantages-item-gifts,
.advantages-item-road {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-food,
.advantages-item-area,
.advantages-item-few {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search {
  max-height: 417px;
  text-align: center;
  background-color: #FFFFFF;
}

.search-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button {
  width: 575px;
  height: 60px;
  background-color: #756257;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription {
  background-image: url(../images/subscription-background.jpg);
  width: 1200px;
  height: 411px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.field {
  width: 600px;
  height: 60px;
  background: #F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;
  border-right: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}

.newsletter-button {
  margin-left: -6px;
  height: 61px;
  background: #83B3D3;
  border: none;
  border-radius: 0px 10px 10px 0px;
  border-left: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page-footer {
  background-color: #FFFFFF;
}

.footer-social-list {
  margin: 0;
  height: 120px;
}

.footer-social-item {
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}

.footer-tel {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/* Начало стилей страницы каталога */

.main-hotels {
  background-color: #F2F2F2;
}

.filter {
  background-image: url(../images/catalog-background.jpg);
  max-width: 1200px;
  max-height: 408px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.filter-title {
  margin: 0;
  padding-top: 35px;
  padding-left: 71px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.menu-catalog {
  margin-top: 0;
  padding-left: 73px;
  list-style-type: none;
}

.menu-catalog-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-checkbox {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #3F5E72;
}

.catalog-filter-radio {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  color: #3F5E72;
}

.button-show {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 4px;
  color: #FFFFFF;
}

.button-cancel {
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: inherit;
}

/*Добавил чтобы не слипалось с предыдущей секцией, в последствии margin=250px уберу*/
.sorting {
  margin-top: 250px;
}

.catalog {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-card {
  list-style-type: none;
}

.catalog-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.catalog-card-parametr {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-card-details {
  text-decoration: none;
}

.button-details {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
}

.button-favorites {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}

.button-favorites-checked {
  background-color: #7DB54F;
}

.pagination {
  background-color: #E5E5E5;
}

.result {
  background-color: #E5E5E5;
}

.pagination-item {
  list-style-type: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #83B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.result-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
