@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  color: #333333;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.visually-hidden {
  display: none;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-left: 0;
  width: 250px;
}

.navigation-item,
.navigation-item-user {
  margin-left: 33px;
  list-style-type: none;
}

.navigation-item-user {
  margin-left: 33px;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.counter::after {
  position: absolute;
  top: 10px;
  right: 278px;
  content: "12";
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  background-size: 19px;
  border-radius: 50%;
  padding: 3px;  
}

.logo {
  margin-left: 80px;
}

.navigation-button {
  margin-right: 72px;
  margin-top: 14px;
  margin-bottom: 14px;
  width: 160px;
  height: 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  border-radius: 4px;
  color:#FFFFFF;
}

.main-index {
  margin-top: -10px;
  color: #000000;
  background-color: #FFFFFF;
}

.index-promo {
  background-image: url(../images/index-background.jpg),
  url(../images/divider.svg);
  width: 1200px;
  height: 485px;
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.index-promo-image {
  display: block;
  margin: auto;
  padding-top: 51px
}

.index-promo::after {
  content: "";
  position: absolute;
  top: 81%;
  left: 32px;
  background-image: url(../images/divider.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1200px 57px;
  width: 1200px;
  height: 57px;
}

.description {
  padding-top: 63px;
  padding-bottom: 79px;
  text-align: center;
  background: #FFFFFF;
}

.description-container {
  max-width: 720px;
  line-height: 36px;
  margin-left: 240px;
}

.description-title {
  font-weight: 700;
  text-transform: uppercase;
}

.advantages {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
}

.advantages-item-city,
.advantages-item-bridge {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  
}

.advantages-item-housing,
.advantages-item-gifts,
.advantages-item-road {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-food,
.advantages-item-area,
.advantages-item-few {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}

.advantages-item-title {
  margin: 0;
  padding: 0;
  padding-top: 98px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.item-title-housing,
.item-title-food,
.item-title-gifts {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.advantages-item-description {
  max-width: 226px;
  margin-left: 90px;
}

.advantages-description {
  max-width: 250px;
  margin-left: 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item-icon {
  margin-top: 89px;
}

.advantages-item-image {
  display: block;
}

.search {
  max-height: 417px;
  text-align: center;
  background-color: #FFFFFF;
}

.search-caption {
  margin: 0;
  margin-top: 91px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button {
  margin-top: 73px;
  margin-bottom: 91px;
  width: 575px;
  height: 60px;
  background-color: #756257;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription {
  background-image: url(../images/subscription-background.jpg);
  width: 1200px;
  height: 411px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.subscription-caption {
  margin: 0;
  padding: 0;
  padding-top: 94px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.field {
  box-sizing: border-box;
  width: 600px;
  height: 60px;
  padding-left: 22px;
  background: #F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;
  border-right: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}

.newsletter-button {
  height: 60px;
  background: #83B3D3;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  border-left: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-social-item {
  margin-left: 29px;
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}

.footer-tel {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer-logo {
  margin-right: 45px;
}

/* Начало стилей страницы каталога */

.main-hotels {
  margin-top: -10px;
  background-color: #F2F2F2;
}

.filter {
  background-image: url(../images/catalog-background.jpg);
  max-width: 1200px;
  max-height: 408px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.filter-title {
  margin: 0;
  padding-top: 35px;
  padding-left: 71px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.menu-catalog {
  display: flex;
  margin-top: 0;
  padding-left: 73px;
  list-style-type: none;
}

.menu-catalog-item {
  margin-right: 10px;
}

.menu-catalog-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-checkbox {
  margin-top: 45px;
  margin-left: 71px;
  margin-bottom: 83px;
}

.filter-group-radio {
  margin-top: 45px;
  margin-left: 67px;
  margin-bottom: 83px;
}

.filter-group-toggle {
  margin-top: 45px;
  margin-left: 67px;
  margin-bottom: 83px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-item {
  margin-left: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-checkbox {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #3F5E72;
}

.catalog-filter-radio {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  color: #3F5E72;
}

.catalog-filter-button {
  margin-top: 80px;
  margin-right: 72px;
}

.button-show {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 4px;
  color: #FFFFFF;
}

.button-cancel {
  margin-top: 20px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: inherit;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  margin-top: 50px;
  padding-left: 71px;
}

.sorting-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  padding-top: 12px;
  padding-bottom: 13px;
  width: 287px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-type-view {
  margin-right: 72px;
}

.sorting-button {
  text-decoration: none;
}

.sorting-type-icon {
  padding: 17px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-icon-light {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog {
  max-width: 1056px;
  margin: auto;
  border-top: 1px solid #E6E6E6;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.catalog-card {
  /*display: flex;
  justify-content: space-between;*/
  display: grid;
  grid-template-columns: 180px 1fr 160px;
  margin: 30px;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  list-style-type: none;
  border-bottom: 1px solid #E6E6E6;
}

.catalog-card-image {
  display: block;
}

.catalog-card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.catalog-card-param {
  flex: 1;
  margin-left: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-card-button {
  margin-top: 31px;
}

.catalog-card-details {
  text-decoration: none;
}

.button-details {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
}

.button-favorites {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}

.button-favorites-checked {
  background-color: #7DB54F;
}

.catalog-item-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.catalog-card-rating {
  background: #F2F2F2;
  border-radius: 4px;
}

.button-show-more {
  display: block;
  width: 625px;
  margin: auto;
  margin-top: 31px;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 31px;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #83B3D3;
  border-radius: 4px;
  text-align: center;
}

/*.pagination-link-clip {
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #83B3D3;
  border-radius: 4px;
  text-align: center;
}*/

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.result {
  display: flex;
  align-items: center;
}

.result-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.result-select-control {
  width: 160px;
  height: 48px;
  margin-right: 71px;
  margin-left: 51px;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 12px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}


